@model Persistence.Entities.Users

@{
    ViewBag.Title = "جزئیات";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>جزئیات اطلاعات کاربران</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modified) : @Html.DisplayFor(model => model.Modified)
        </dt>

        

        <dt>
            @Html.DisplayNameFor(model => model.Status) :  @Html.DisplayFor(model => model.Status)
        </dt>

      

        <dt>
            @Html.DisplayNameFor(model => model.Name) :  @Html.DisplayFor(model => model.Name)
        </dt>

     

        <dt>
            @Html.DisplayNameFor(model => model.UserName) :  @Html.DisplayFor(model => model.UserName)
        </dt>

        

        <dt>
            @Html.DisplayNameFor(model => model.Password) : @Html.DisplayFor(model => model.Password)
        </dt>

      

        <dt>
            @Html.DisplayNameFor(model => model.Mobile) : @Html.DisplayFor(model => model.Mobile)
        </dt>

        

        <dt>
            @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
        </dt>

       

        <dt>
            @Html.DisplayNameFor(model => model.IsBlock) : @Html.DisplayFor(model => model.IsBlock)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.Type) : @Html.DisplayFor(model => model.Type)
        </dt>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Guid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
