@model Persistence.Entities.Users
@using Services

@*<div class="card bg-light">
        <div class="card-header">سرصفحه</div>
        <div class="card-body">
            <h6 class="card-title">عنوان کارت روشن</h6>
            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
        </div>
    </div>*@
<div class="card card-body text-left">
    <h2>جزئیات اطلاعات کاربر "@Model.Name"</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            تاریخ ثبت نام : @Calendar.MiladiToShamsi(Model.Modified)
        </dt>

        <dt>
            وضعیت :
            @if (Model.Status == true)
            {
                <span class="badge badge-success">فعال</span>
            }
            else
            {
                <span class="badge badge-danger">غیر فعال</span>
            }
        </dt>

        <dt>
            نام :  @Html.DisplayFor(model => model.Name)
        </dt>

        <dt>
            نام کاربری :  @Html.DisplayFor(model => model.UserName)
        </dt>

        <dt>
            شماره همراه : @Html.DisplayFor(model => model.Mobile)
        </dt>

        <dt>
            آدرس ایمیل : @Html.DisplayFor(model => model.Email)
        </dt>

        <dt>
            وضعیت مسدودی :
            @if (Model.IsBlock == false)
            {
                <span class="badge badge-success">آزاد</span>
            }
            else
            {
                <span class="badge badge-danger">مسدود</span>
            }
        </dt>

        <dt>
            عنوان سیستمی : @Html.DisplayFor(model => model.Type)
        </dt>

    </dl>
</div>
<hr />
<div>
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">بستن</button>
</div>