@model IEnumerable<Persistence.Entities.Users>
@using Server.Utilitis;
@{
    ViewBag.Title = "مدیزیت کاربرن";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="col-md-11">
    <div class="card">
        <div class="card-body">
            <div>
                <a href="@Url.Action("Create")">
                    <button class="btn btn-outline-success btn-success">
                        <i class="fa fa-plus"></i>افزودن کاربر جدید
                    </button>
                </a>
            </div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>
                            نام
                        </th>
                        <th>
                            نام کاربری
                        </th>
                        <th>
                            فعال / غیر فعال
                        </th>
                        <th>
                            تاریخ ثبت نام
                        </th>
                        <th>
                            آزاد / مسدود
                        </th>
                        <th>
                            عنوان سیستمی
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <span class="badge badge-success">فعال</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">غیر فعال</span>
                                }
                            </td>
                            <td>
                                @item.Modified.ToShamsi()
                            </td>
                            <td>
                                @if (item.IsBlock == false)
                                {
                                    <span class="badge badge-success">آزاد</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">مسدود</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Details",new { id=item.Guid})">
                                    مشاهده<i class="fa fa-desktop"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" href="@Url.Action("Edit",new { id=item.Guid})">
                                    ویرایش  <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete",new { id=item.Guid})">
                                    حذف <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
