@model Persistence.Entities.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Guid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
